@import "./uikit.scss";
@import "../layouts/base.scss";

$primary: blue;

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: $primary;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: red;
}