@import "./uikit.scss";
@import "./media.scss";
@import "../layouts/base.scss";

// Variables
$color-black: black;
$color-gray: #666;
$color-green--dark: #254741;

// Functions
@function toRem($size) {
    @return $size / 16px * 1rem;
}
// Elements
@import "./elements.scss";

// Components
@import "../components/header/header.scss";
@import "../components/site-nav/site-nav.scss";
@import "../components/contacts/contacts.scss";


h1 {
    margin-left: 1rem;
    color: green;
}